.navbar{
    background-color: bisque;
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto
    
}
.caja{
    background-color: aqua;
    width: 250px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    
}
.logo{
    width: 160px;
    height: 80px;
    margin: 10px;
    background: #a84909;
    border-radius: 40px;
    align-content: space-between;
}
.menu{
    display:flex ;

    
}
.body{
    background-color: rgb(27, 26, 24);
    width:90%;
    height: 500px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.elemento1{
    
    background-color: rgb(183, 12, 12);
    width: 50%;
    height: 500px;
    display: flex;
}

.elemento2{
    background-color: rgb(13, 59, 100);
    width:50%;
    height:500px;
    display: flex;
   
    justify-content: center;
    
}
.imagen1{
    background-color:red;
    width: 300px;
    height: 200px;
    align-self: stretch;
    
}


.footer{
    background-color: rgb(216, 154, 31);
    width:90%;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }
.box{
    background-color: rgb(35, 35, 39);
    width: 90%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.f1{
    background-color: red;
    display: flex;
    width: 30%;
    height: 50px;
    margin: 5px;
    
}
.f1a{
    background-color: rgb(7, 148, 26);
    display: flex;
    align-self: baseline;
    width: 30%;
    height: 50px;
    margin: 5px;
}

.f2{
    background-color: red;
    
    width: 30%;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-self:flex-end;
}
 



    



